@model TimesheetDEV.Models.PeopleModel
@{
    var successfulMessage = ViewBag.Message;
}

<div class="body-container text-center">
    <div class="body-content">
        <h2 class="display-4">@Model.First_Name @Model.Last_Name you have successfully @successfulMessage.</h2>
        <p>You will be redirected in 5 seconds to the main page.</p>
    </div>
</div>

<script>
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Login", "Home")';
    }, 5000);
</script>